<form method="post" action="/feedback/submit">
    Name: <input type="text" name="name" /><br />
    Comments: <input type="text" name="comments" /><br />
    Rating: <input type="number" name="rating" /><br />

    <button type="submit">Submit</button>
</form>