body {
            font-family: Arial, sans-serif;
            background-color: white;
            padding: 40px;
        }

        
        .profile-card {
            background-color: white;
            width: 320px;
            margin: auto;              
            padding: 20px;             
            border: 2px solid rgb(180, 33, 33);    
            border-radius: 10px;
            text-align: start;
        }

        
        .profile-card h1 {
            font-size: 22px;
            color: navy;
            letter-spacing: 1px;
            margin-bottom: 5px;
        }

        
        .profile-card h2 {
            font-size: 16px;
            color: gray;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 15px;
        }

        
        .profile-card p {
            font-size: 14px;
            line-height: 1.5;
            color: grey;
            margin-bottom: 20px;
        }

        
        .profile-card button {
            padding: 10px 20px;
            background-color: navy;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        